.root {
  margin: 0;
  padding: 0;
  font-family: "MPLUSRounded1c", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
